{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="text-light text-center mt-5 mb-5 pb-5 pt-5">WELCOME TO GO MAKE GAMES</h1>

    
    <div class="row d-flex justify-content-around align-items-center flex-wrap flex-sm-wrap flex-md-wrap flex-lg-wrap flex-xl-wrap flex-xxl-wrap pb-5">
        <div class="lw-box-1 col-2 p-3"> 
            <p class="text-light">Go Make Games is a platform where you can download free video game assets.</p>
            <p class="text-light">All assets are made by me and can be used freely for any project.</p>
            <p class="text-light">So Go Make Games!</p>
        </div>
        <img class="img-border-radius col-3" src="{{ asset('build/images/forest.png') }}">
        <img class="img-border-radius col-2" src="{{ asset('build/images/princess.png') }}">
    </div>

    <div class="row d-flex justify-content-around align-items-center flex-wrap">
        <img class="img-border-radius col-2 " src="{{ asset('build/images/potion.png') }}">
        <img class="img-border-radius col-3" src="{{ asset('build/images/village.png') }}">
         <div class="lw-box-2 col-2 p-3"> 
            <p class="text-light">But who am I? You may ask yourself.I am soda_bear, an independent creator who enjoys making art for game developpers accross the globe to use.</p>
            <p class="text-light">I can also make custom art for you!</p>
            <p class="text-light">Feel free to contact me for special inquiries.</p>
        </div>
    </div>

    
{% endblock %}
