{# read and display all flash messages #}
{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{ label }} container mt-5" uk-alert>
			<a class="uk-alert-close" uk-close></a>
			<p>{{ message }}</p>
		</div>
	{% endfor %}
{% endfor %}