<nav class="navbar navbar-expand-lg">
  <div class="container-fluid d-flex justify-content-evenly">
      
        <img class="logo-lw" src="{{ asset('build/images/logo.png') }}">
        <a class="nav-link align-self-center text-light fs-4" aria-current="page" href="{{ path('admin_characters')}}">Characters</a>
        <a class="nav-link align-self-center text-light fs-4" aria-current="page" href="#">Backgrounds</a>
        <a class="nav-link align-self-center text-light fs-4" aria-current="page" href="#">Effects</a>
        <a class="nav-link align-self-center text-light fs-4" aria-current="page" href="#">Packs</a>
        <a class="nav-link align-self-center text-light fs-4" aria-current="page" href="#">Bio</a>
        <a class="nav-link align-self-center text-light fs-4" aria-current="page" href="#">Contact</a>
        <img class="logo-lw" src="{{ asset('build/images/logo.png') }}">
     
  </div>
</nav>