<nav class="navbar navbar-expand-lg mt-5 pt-5">
  <div class="container-fluid d-flex justify-content-between align-items-center">
      <div class="navbar-nav">
        <a class="nav-link align-self-center text-light fs-4" aria-current="page" href="#">Mentions Légales</a>
      </div>
      <div>
      <img class="icons" src="{{ asset('build/images/twitter.svg')}}">
      <img class="icons" src="{{ asset('build/images/facebook.svg')}}">
      <img class="icons" src="{{ asset('build/images/instagram.svg')}}">
      </div>
  </div>
</nav>