<nav class="navbar navbar-expand-lg">
  <div class="container-fluid d-flex justify-content-center align-items-center">
      <div class="navbar-nav">
        <a class="nav-link align-self-center text-light fs-4" aria-current="page" href="{{ path('app_downloads')}}">Downloads</a>
        <a class="nav-link" href="/"><img class="logo-lw" src="{{ asset('build/images/logo.png') }}"></a>
        <a class="nav-link align-self-center text-light fs-4" href="#">Contact</a>
      </div>
  </div>
</nav>